
body {
  background-color: floralwhite;
}

p {
  font-weight: bold;
  font-style: oblique;
  color: darkslategray;
}

a{
  font-style: italic; 
}

.column1{
 width: 20%;
 float: left;
}

.column2{
    width: 20%;
    float: left;
 }

 .column3{
  width: 20%;
  float: left;
}

.column4{
  width: 20%;
  float: left;
}

.column5{
  width: 20%;
  float: left;
}

.center{
  margin: auto;
  width: 25%;
  height: auto;
  display: block;
  padding-top: 35px;
}
.contact{
  border: 5px solid blue;
  background-color: cadetblue;
  margin: auto;
  width: 10%;
  display: block;
  text-align: center;
  margin-top: 25px;
  box-sizing: content-box;
}
